@using Microsoft.AspNetCore.Identity
@using Razor.model

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Xin Chào <strong>@UserManager.GetUserName(User)</strong></a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Đăng Xuất</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link btn btn-danger m-1" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng Kí</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-primary m-1" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng Nhập</a>
    </li>
}
</ul>
