@page
@model Razor.Admin.Role.DeleteModel
@{
}
<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Organic Information</p>
						<h1>Edit Role</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row m-lg-5">           
            <div class="form-holder ">
                <div class="form-content">
                    <div class="form-items">
                    <hr>
                <form method="post" class="requires-validation" enctype="multipart/form-data">

                        <div class="col-md-12">
                            <input asp-for="Input.Name" class="form-control" placeholder="Tên Role">
                        </div>
                        <br>
                        <div class="form-button mt-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <button type="submit" class="btn btn-outline-primary m-3">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
