@page
@model Razor.Admin.User.SetPasswordModel
@{
    ViewData["Title"] = "Đổi Mật Khẩu";
}
<head>
    <title>@ViewData["Title"]</title>
</head>
    <div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Organic Information</p>
						<h1>Mật Khẩu User</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

<h4 class="">Cài đặt mật khẩu cho : <strong>@Model.user.UserName</strong></h4>
<partial name="_StatusMessage" for="@Model.StatusMessage" />
<a class="btn btn-danger m-lg-3" asp-page="./Index">Quay lại trang user</a>
    <div class="row m-lg-5">
        <div class="col-md-4">
            <form id="set-password-form" method="post">
                <div class="form-group">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                    @{
                        Model.role_Id = Model.user.Id;
                    }
                    <button class="btn btn-primary" type="submit" >Đổi Mật Khẩu</button>
            </form>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
</div>