@page
@model IndexModel
@using Razor.model;
@{
    ViewData["Title"] = "Home page";
    var kq = ViewData["Post"] as List<Blog>;
}

<div class="text-center">
    <h1 class="display-4 text text-danger">Xử lý Web</h1>
</div>
@await Component.InvokeAsync("ProductBox")
