@page "/Products"
@model PrivacyModel
@{
    ViewData["Title"] = "MUA BÁN SẢN PHẨM";
}

<div class="bg bg-danger">
    <p>Thông tin các sản phẩm</p>
    <div class="row bg-danger">
        @foreach (var item in Model.products)
        {
            <div class="col">
                <partial name="_ProductItem", model= "item"/>
            </div>
            
        }
    </div>
</div>
