@page "/Products"
@model PrivacyModel
@{
    ViewData["Title"] = "MUA BÁN SẢN PHẨM";
}
<h1>@ViewData["Title"]</h1>

<p>Thông tin các sản phẩm</p>
<div class="row bg-info">
    @foreach (var item in Model.products)
    {
        <div class="col">
            <partial name="_ProductItem", model= "item"/>
        </div>
        
    }
</div>
